
#banner{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 1.10)
    ),
    /* bottom, image */
    url("../img/office-581131_1920.jpg");
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
#banner h1{
    color: white;
    padding-top: 17%;
    padding-bottom: 4%;
}
.terms{
    margin-top: 100px;
    margin-bottom: 200px;
}
